body{
    overflow-x: hidden;
    background-color: #ffffff;
}
    
:root{
        --main-color: #eee;
        --second-color: #ff0000;
        --third-color: #ffd500;
        --main-transition: 300ms;
}
    
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        text-decoration-line: none;
        list-style-type: none;
}

/* start-nav */
nav{
    display: flex;
    height: 15vh;
    align-items: center;
    gap: 100px;
    position: fixed;
    z-index: 111111;
    padding-left: 30px;
    top: -10px;
    background-color: #fffefa;
    width: 100%;
}

nav .left-sec{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
}

nav .left-sec::before{
    content: 'EG';
    font-size: 11px;
    color: #000000b8;
    position: absolute;
    right: -9px;
    top: 44px;
}

nav .left-sec button{
background-color: transparent;
border: none
}

nav .left-sec button i{
    cursor: pointer;
    font-size: 25px;
    padding: 12px;
    border-radius: 50%;
    transition: var(--main-transition);
    position: relative;
    top: 3px;
}

nav .left-sec button i:hover{
    background-color: #59565633;
}

nav .center-sec{
position: relative;
}

nav .center-sec button{
border: none;
background-color: transparent;
}

nav .center-sec form input{
    border: solid 1px #212020;
    background-color: transparent;
    padding: 13px 250px 13px 15px;
    border-radius: 50px;
}

nav .center-sec form input:focus{
    outline: none;
}

nav .center-sec form input::placeholder{
    font-size: 17px;
}

nav .center-sec form .btn-1 i{
    font-size: 20px;
    position: absolute;
    padding: 9px 25px 12px 28px;
    border-radius: 0px 40px 40px 0px;
    background-color: #f8f8f8;
    border-left: solid 1px #59565633;
    top: 1px;
    right: 10px;
    cursor: pointer;
    transition: var(--main-transition);
}

nav .center-sec form .btn-1 i:hover{
    background-color: #e1e1e19a;
}

nav .center-sec form .btn-2 i{
    font-size: 20px;
    border-radius: 50%;
    background-color: #80808026;
    position: absolute;
    padding: 12px;
    top: -1px;
    right: -46px;
    cursor: pointer;
    transition: var(--main-transition);
}

nav .center-sec form .btn-2 i:hover{
    background-color: #80808073;
}

nav .right-sec{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .right-sec button{
border: none;
background-color: transparent;
}

nav .right-sec button i{
    font-size: 20px;
    cursor: pointer;
}

nav .right-sec a{
    color: #065fd4;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
    border: solid 1px #21202080;
    position: relative;
    transition: var(--main-transition);
}

nav .right-sec a:hover{
    background-color: #80808030;
}

/* end-nav */


/* start-aside */
aside{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    top: 90px;
    padding-left: 5px;
    background-color: #fffefa;
}

aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul li a{
    color: black;
    white-space: pre;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    padding: 20px;
    border-radius: 10px;
    transition: var(--main-transition);
}

aside ul li .a-3{
    padding: 13px;
}

aside ul li .a-4{
    padding: 15px 20px 15px 20px;
}

aside ul li a:hover{
    background-color: #80808030;
}

aside ul li a span i{
font-size: 20px;
}
/* end-aside */


/* start-main */
main{
    width: 90%;
    margin: auto;
    transform: translate(30px, 65px);
}

main header{
    transform: translateY(12px);
}

main header .image-header{
    background-image: url(images/header.jpg);
    background-size: cover;
    width: 95%;
    height: 140px;
    margin: auto;
    background-position: top;
    border-radius: 15px;
}

main header .profile-youtube{
    transform: translate(35px,30px);
    width: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
}

main header .profile-youtube .img-profile img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

main header .profile-youtube .txt-container h1{
    font-size: 36px;
    position: relative;
    font-family: system-ui;
}

main header .profile-youtube .txt-container h1::after{
    content: '✔';
    padding: 4px;
    border-radius: 50%;
    font-size: 6px;
    position: absolute;
    color: var(--main-color);
    background-color: #605f5fe6;
    right: 0px;
    top: 19px;
}

main header .profile-youtube .txt-container p{
font-size: 14px;
color: #606060;
padding: 10px 0px 0px 0px;
}

main header .profile-youtube .txt-container ul{
    padding: 8px 0px;
}

main header .profile-youtube .txt-container ul li a{
    color: #606060;
    font-size: 14px;
    display: flex;
    align-items: center;
}

main header .profile-youtube .txt-container ul li a span img{
    width: 25px;
    height: 30px;
    position: relative;
    top: 3px;
    left: 6px;
}

main header .profile-youtube .txt-container ul li:last-child a{
    font-size: 13px;
    color: black;
    font-weight: 700;
    padding-bottom: 10px;
}

main header .profile-youtube .txt-container ul li:last-child a span{
    display: flex;
    align-items: center;
    color: #0664d6;
    padding-right: 6px;
}

main header .profile-youtube .txt-container ol{
    display: flex;
    gap: 13px;
    transform: translateY(18px);
    align-items: center;
}

main header .profile-youtube .txt-container ol li .a-1{
    color: white;
    background-color: black;
    transition: var(--main-transition);
    padding: 11px 18px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

main header .profile-youtube .txt-container ol li .a-1:hover{
    opacity: .8;
}

main header .profile-youtube .txt-container ol li .a-2{
    color: black;
    background-color: #f8f8f8;
    transition: var(--main-transition);
    padding: 10px 22px;
    border-radius: 29px;
    font-size: 15px;
    font-weight: 600;
    border: solid 1px #21202080;
}

main header .profile-youtube .txt-container ol li .a-2:hover{
    background-color: #80808030;
}


/* start-nav-main */
.nav-main{
    transform: translate(49px,100px);
    position: relative;
}

.nav-main ul{
    display: flex;
    gap: 20px;
}

.nav-main ul li a{
    color: #606060;
    font-size: 18px;
    padding-bottom: 15px;
}

.nav-main ul .li-2 a{
    color: black;
    border-bottom: solid 2px black;
}

.nav-main ul li:not(:last-child) a:hover{
    border-bottom: solid 2px #606060;
}

.nav-main ul li a i{
    color: #606060;
    font-size: 18px;
}
/* end-nav-main */


/* start-videos-container */
.videos-container{
    position: relative;
    transform: translate(40px,116px);
    border-top: solid 1px #606060;
    width: 98%;
    height: 835px;
}

.videos-container ul{
    display: flex;
    gap: 15px;
    padding: 30px 0px;
    transform: translateX(29px);
}

.videos-container ul li a{
    color: black;
    padding: 11px 15px;
    border-radius: 10px;
    background: #e8e6e699;
    font-size: 18px;
    transition: var(--main-transition);
}

.videos-container ul li:first-child a{
    background-color: black;
    color: white;
}

.videos-container ul li:not(:first-child) a:hover{
    background: #e8e6e6;
}

.videos-container .grid-video{
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    row-gap: 50px;
    column-gap: 20px;
}

.videos-container .grid-video > div{
    cursor: pointer;
    position: relative;
}

.videos-container .grid-video > div ol{
    opacity: 0;
    position: absolute;
    top: 10px;
    z-index: 11111111;
    right: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: var(--main-transition);
}

.videos-container .grid-video > div:hover > ol{
    opacity: 1;
}

.videos-container .grid-video > div ol li span{
    color: white;
    background-color: black;
    padding: 3px;
    padding-bottom: 8px;
    font-size: 24px;
    border-radius: 5px;
}

.videos-container .grid-video > div ol li:last-child{
    position: relative;
    top: 85px;
    font-size: 22px;
    right: -16px;
}

.videos-container .grid-video .video-1 .img-video{
    background-image: url('images/video-1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-1 .img-video::before{
    content: '7:43';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-1 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
}

.videos-container .grid-video .video-1 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-2 .img-video{
    background-image: url('images/video-2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
} 

.videos-container .grid-video .video-2 .img-video::before{
    content: '23:24';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-2 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
}

.videos-container .grid-video .video-2 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}


.videos-container .grid-video .video-3 .img-video{
    background-image: url('images/video-3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-3 .img-video::before{
    content: '14:20';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-3 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
}

.videos-container .grid-video .video-3 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-4 .img-video{
    background-image: url('images/video-4.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-4 .img-video::before{
    content: '7:37';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-4 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
    line-height: 20px;
}

.videos-container .grid-video .video-4 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-5 .img-video{
    background-image: url('images/video-5.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-5 .img-video::before{
    content: '9:19';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-5 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
}

.videos-container .grid-video .video-5 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-6 .img-video{
    background-image: url('images/video-6.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-6 .img-video::before{
    content: '4:03:41';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-6 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
    line-height: 20px;
}

.videos-container .grid-video .video-6 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-7 .img-video{
    background-image: url('images/video-7.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-7 .img-video::before{
    content: '11:06:46';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-7 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
    line-height: 20px;
}

.videos-container .grid-video .video-7 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-8 .img-video{
    background-image: url('images/video-8.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-8 .img-video::before{
    content: '10:10:57';
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-8 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
    line-height: 20px;
}

.videos-container .grid-video .video-8 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .video-9 .img-video{
    background-image: url('images/video-9.jpg');
    background-size: cover;
    background-position: bottom;
    height: 80%;
    border-radius: 10px 10px 10px 0px;
}

.videos-container .grid-video .video-9 .img-video::before{
    content: '8:7';
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    right: 3px;
    bottom: 43px;
}

.videos-container .grid-video .video-9 .text .p-1{
    font-size: 15px;
    padding: 10px 0px;
}

.videos-container .grid-video .video-9 .text .p-2{
    font-size: 13px;
    color: #000000a8;
    white-space: pre;
}

.videos-container .grid-video .text{
    
} 
/* end-videos-container */

/* end-main */
    